body {
    font-family: HelveticaNeue;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 26px;
}

main {
    padding-top: 60px;
}

.fixed-top {
    min-height: 60px;
    background-color: #2A78CC;
    border-bottom: 1px solid whitesmoke;
}

.grey-background {
    background: #F7F7F7;
}

.logo {
    color: #F2F2F2;
}

.heading {
    margin-top: 10%;
}

.nav {
    height: 100%;
    align-items: center;
    justify-content: center;
}

.nav-link.active {
    border-bottom: white solid 3px;
}

.nav-item {
    font-family: Helvetica;
    font-size: 16px;
    text-align: left;
    padding-right: 1.25em;
}

.nav-item a {
    color: #F2F2F2;
}

.navbar-dark .navbar-nav .nav-link {
    color: #F2F2F2;
}

.slider {
    background-image: url('../assets/banner.png');
    min-height: 350px;
    background-size: cover;
}

.heading h1 {
    font-family: HelveticaNeue-Bold;
    font-size: 5rem;
}

.heading h2 {
    font-family: HelveticaNeue-Bold;
    font-size: 2.5rem;
}

.btn-explore {
    background: #FFFFFF;
    border-radius: 2px;
    color: #358FF2;
    text-align: center;
    width: 180px;
}

.btn-join-slack {
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    width: 180px;
}

.btn-documentation {
    width: 150px;
    border-radius: 2px;
    text-align: center;
}

.never-trust {
    background-image: url('../assets/never-trust.png');
    background-size: 100% 100%;
}

.fine-grained {
    background-image: url('../assets/fine-grained.png');
    background-size: 100% 100%;
}

.single-source {
    background-image: url('../assets/single-source.png');
    background-size: 100% 100%;
}

.certificate {
    background-image: url('../assets/certificate.png');
    background-size: 100% 100%;
}

.centralized {
    background-image: url('../assets/centralized.png');
    background-size: 100% 100%;
    min-height: 306px;
}

.thumbnail {
    padding: 20px;
    border: lightgrey solid 1px;
    margin-left: 25px;
    margin-bottom: 60px;
}

.centralized-explore {
    background-image: url('../assets/centralized_exp.png');
    background-size: 100% 100%;
    min-height: 306px;
}

.decentralized {
    background-image: url('../assets/decentralized.png');
    background-size: 100% 100%;
    min-height: 306px;
}

.decentralized-explore {
    background-image: url('../assets/decentralized_exp.png');
    background-size: 100% 100%;
    min-height: 306px;
}

.features {
    color: #000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-content: center;
}

.word-wrap {
    word-wrap: break-word;
}

.details {
    font-family: Helvetica;
    font-size: 14px;
    color: #565656;
    letter-spacing: 0;
    line-height: 26px;
}

.architecture .details {
    height: 120px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.line {
    margin: 10px 0;
    height: 4px;
    background: #F5A623;
    border: none;
    width: 50px;
    display: inline-block;
}

.features .heading {
    font-family: HelveticaNeue-Bold;
    font-size: 16px;
    color: #303030;
    margin: 0;
}
.features-row img {
    width: 100%;
    height: 100%;
    /*object-fit: contain;*/
    /*width: calc(100% + 30px);*/
    /*height: calc(100% + 30px);*/
}

.features-row > div {
    height: 260px;
}

.rbac {
    font-size: 16px;
    color: #000;
    margin-left: 25px;
    margin-top: 60px;
}

.service-auth, .aws-temp, .contact {
    margin-left: 25px;
    font-size: 16px;
    color: #000;
}

.service-auth-container{
    padding-top: 60px;
    padding-bottom: 60px;
}



.service-auth-img {
    background-image: url('../assets/authentication_exp.png');
    background-size: 100% 100%;
    min-height: 309px;
    margin-top: 40px;
    margin-right: -20px;
}

.aws-temp{
    margin-top: 60px;
}

.aws-temp-container{
    display:flex;
    align-items:center;
}

.aws-temp-img {
    background-image: url('../assets/aws.png');
    background-size: 100% 100%;
    min-height: 500px;
    margin-right: -20px;
    margin-left: -30px;
}

.rbac .heading, .getting-started .heading, .about .heading, .service-auth .heading, .aws-temp .heading, .data-model-container .heading, .contact .heading{
    font-family: Helvetica-Bold;
    font-size: 24px;
    color: #000000;
    letter-spacing: 0;
    margin: 0;
}

.rbac .details, .service-auth .details, .aws-temp .details, .contact .details{
    font-size: 16px;
    padding-top: 15px;
}

.architecture {
    margin-left: 25px;
    color: #555555;
    margin-bottom: 55px;
    margin-top: -15px;
}

.architecture .heading {
    font-family: Helvetica-Bold;
    font-size: 20px;
    color: #000000;
    letter-spacing: 0;
}

.getting-started {
    background: #F7F7F7;
    font-size: 16px;
    color: #565656;
    /*margin: -15px;*/
    padding: 80px 25px;
    margin-bottom: 0px;
}

.contact {
    background: #F7F7F7;
    font-size: 16px;
    color: #565656;
    /*margin: -15px;*/
    padding-top: 40px;
    margin-bottom: 0px;
}

.getting-started .details, .about .details {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.about {
    font-size: 16px;
    color: #565656;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: 25px;
    margin-bottom: -20px;
    padding-left: 15px;
}

.footer {
    padding: 15px;
    color: #000;
}

.footer-lists {
    padding-top: 60px;
    padding-left: 15px;
}

.footer h6 {
    font-family: HelveticaNeue-Bold;
    font-size: 14px;
    color: #7F7F7F;
}

.header {
    min-height: 80px;
    background-color: #2A78CC;
    background-size: cover;
}

.data-model-container {
    color: #000000;
    margin: 25px auto;
    padding-left: 40px;
    padding-top: 30px;
}

.data-model-container .box-title{
    padding: 15px 0;
    margin-bottom: 40px;
    border-bottom: 1px solid #adb5bd;
}

.data-model-container .data-model img{
    height: 80%;
    width: 100%;
    margin-top: 10%;
}

.data-model-container img {
    height: 60px;
    width: 60px;
}

.data-model-container .desc {
    padding: 15px;
}

.data-model-container hr {
    height: 100%;
    width: 3px;
    background-color: #ffc107;
    min-height: 50px;
}

.data-model-container .d-flex {
    overflow: hidden;
    margin-bottom: 10px;
}

.data-model-container .details {
    font-size: 16px;
    padding-top: 5px;
}
